$wild-gray: #2a2a2a;
$wild-orange: #f46147;
$title-color: #fe8276;
$sub-title-color: #febf88;
$text-color: #4d4d4d;

$brand-color: $wild-gray; //#2b3d51;
$secondary-brand-color: $wild-gray; //#2b3d51;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
